body {
  background-color:white;
  }
#addnewmed{
height:500px;
width:500px;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
margin: auto;
}
#border{
height:530px;
width:600px;
position: absolute;
top:90px;
left:400px;
border:solid;
}

